.text{
 font-size:25px;
 
}
.text::first-letter{
	color:red;
}
h2::before {
	content:"hello";
}
h2::after {
	content: "hello";
}

a:link{
	color:green;
}
a:visited{
	color:red;
}
a:hover{
	color:black;
}
a:active{
	color:brown;
}
*{
	font-style:italic;
}
img::before{
	content:url img1.jpg;
}


